body {
    background-image: url(1258622.jpg);
}

.header {
    background-image: url(1258622.jpg);
    text-align: center;
    color: antiquewhite;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333; 
}

.topnav a {
    float: left;
    display: block;
    color:antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: antiquewhite;
    color: #333;
}